#
# Copyright (c) 2024 The ZMK Contributors
#
# SPDX-License-Identifier: MIT
#

config ZMK_SHIELD_MAPADUBU_LEFT
    bool "mapadubu_left"
    depends on SOC_NRF52840

config ZMK_SHIELD_MAPADUBU_RIGHT
    bool "mapadubu_right"
    depends on SOC_NRF52840
