# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_MAPADUBU_LEFT
    def_bool $(shields_list_contains,mapadubu_left)

config SHIELD_MAPADUBU_RIGHT
    def_bool $(shields_list_contains,mapadubu_right)
